.wrap {
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100px;
    height: 100px;
    margin-left: -40px;
    text-align: left;
    /* overflow: hidden; */
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;}

.wrap * {padding: 0;margin: 0;}

.wrap .info {
    width: 90px;   /*넓이*/
    height: 60px;
    border-radius: 50px;
    border-bottom: 20px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;}

.info .title {
    /* padding: 5px 0 0 10px; */
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;}

.info .body {
    position: relative;
    overflow: hidden;}

.info .desc {
    position: relative;
    margin: 13px 0 0 25px;
    height: 75px;
}
.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    margin-bottom: 27px;
    left: 50%;bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

/* 기업 마커 css */

